<header class="container">
    <nav class="navbar">
        <a class="navbar-brand link-dark" href="<%-links.calendar%>">Calendar</a>
        <ul class="nav">
            <li data-element="members">
            </li>
            <li class="ms-3">
                <a class="btn btn-secondary" href="<%-links.createEvent%>">New Event +</a>
            </li>
        </ul>
    </nav>
</header>
<main class="container">
    <table class="table table-bordered text-center">
        <thead class="table-secondary">
            <tr class="row">
                <% table.header.forEach(title=> { %>
                    <th class="col" scope="col">
                        <%-title%>
                    </th>
                    <% }); %>
            </tr>
        </thead>
        <tbody>
            <% table.rows.forEach(time=> { %>
                <tr class="row">
                    <th class="col" scope="row">
                        <%=time%>
                    </th>
                    <% for(let j=1; j<table.header.length; j++) { %>
                        <td class="col"></td>
                        <% }; %>
                </tr>
                <% }); %>
        </tbody>
    </table>
</main>