<table class="table table-bordered text-center">
  <thead class="table-secondary">
    <tr class="row">
      <% table.header.forEach(title=> { %>
        <th class="col" scope="col">
          <%-title%>
        </th>
        <% }); %>
    </tr>
  </thead>
  <tbody>
    <% table.rows.forEach((time, i)=> { %>
      <tr class="row">
        <th class="col col-table" scope="row">
          <%=time%>
        </th>
        <% for(let j=1; j<table.header.length; j++) { %>
          <td class="col col-table" data-<%=eventKeys.time %> = "<%= i %>" data-<%= eventKeys.days %>="<%= j-1 %>">
          </td>
          <% }; %>
      </tr>
      <% }); %>
  </tbody>
</table>